* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.container {
    display: flex;
}

a {
    font-size: 24px;
}

span {
    float: right;
}

/* Left Column */
header {
    padding: 4px 0px;
    border-bottom: 1px solid white;
}

.column-left {
    height: 100vh;
    flex: 1;
    position: relative;
}

.project-list {
    padding: 4px 0px;
}

.links {
    position: absolute;
    bottom: 0;
    padding: 4px 0px;
}

li {
    font-size: 24px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Right Column */
.column-right {
    height: 100vh;
    flex: 2;
    border-left: 1px solid white;
    padding: 0px 8px;
}

.project {
    display: none;
}

.project.active {
    display: block;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.gallery-img {
    max-width: 800px;
    max-height: 500px;
    margin-bottom: 8px;
}

.gallery-thumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.thumb {
    height: 60px;
    object-fit: cover;
}

.description {
    font-size: 24px;
    padding: 4px 0px;
}

#cloud-gif {
    width: 100%;
}
